<div>
    <h2>
        <span jhiTranslate="iResearchApp.surveyQuestionFlow.home.title">Survey Question Flows</span>
        <button class="btn btn-primary float-right jh-create-entity create-survey-question-flow" [routerLink]="['/', { outlets: { popup: ['survey-question-flow-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="iResearchApp.surveyQuestionFlow.home.createLabel">
            Create new Survey Question Flow
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="surveyQuestionFlows">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="confirm"><span jhiTranslate="iResearchApp.surveyQuestionFlow.confirm">Confirm</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remarks"><span jhiTranslate="iResearchApp.surveyQuestionFlow.remarks">Remarks</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="surveyQuestionId"><span jhiTranslate="iResearchApp.surveyQuestionFlow.surveyQuestion">Survey Question</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let surveyQuestionFlow of surveyQuestionFlows ;trackBy: trackId">
                <td><a [routerLink]="['../survey-question-flow', surveyQuestionFlow.id ]">{{surveyQuestionFlow.id}}</a></td>
                <td>{{surveyQuestionFlow.confirm}}</td>
                <td>{{surveyQuestionFlow.remarks}}</td>
                <td>
                    <div *ngIf="surveyQuestionFlow.surveyQuestionId">
                        <a [routerLink]="['../survey-question', surveyQuestionFlow.surveyQuestionId  ]" >{{surveyQuestionFlow.surveyQuestionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../survey-question-flow', surveyQuestionFlow.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'survey-question-flow/'+ surveyQuestionFlow.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'survey-question-flow/'+ surveyQuestionFlow.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="surveyQuestionFlows && surveyQuestionFlows.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
