
<div *ngIf="surveyQuestionFlow">
    <h2><span jhiTranslate="iResearchApp.surveyQuestionFlow.detail.title">Survey Question Flow</span> {{surveyQuestionFlow.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="iResearchApp.surveyQuestionFlow.confirm">Confirm</span></dt>
        <dd>
            <span>{{surveyQuestionFlow.confirm}}</span>
        </dd>
        <dt><span jhiTranslate="iResearchApp.surveyQuestionFlow.remarks">Remarks</span></dt>
        <dd>
            <span>{{surveyQuestionFlow.remarks}}</span>
        </dd>
        <dt><span jhiTranslate="iResearchApp.surveyQuestionFlow.surveyQuestion">Survey Question</span></dt>
        <dd>
            <div *ngIf="surveyQuestionFlow.surveyQuestionId">
                <a [routerLink]="['/survey-question', surveyQuestionFlow.surveyQuestionId]">{{surveyQuestionFlow.surveyQuestionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'survey-question-flow/'+ surveyQuestionFlow.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
