<div>
    <h2>
        <span jhiTranslate="iResearchApp.configAcl.home.title">Config Acls</span>
        <button class="btn btn-primary float-right jh-create-entity create-config-acl" [routerLink]="['/', { outlets: { popup: ['config-acl-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="iResearchApp.configAcl.home.createLabel">
            Create new Config Acl
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="configAcls">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modName"><span jhiTranslate="iResearchApp.configAcl.modName">Mod Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="funcName"><span jhiTranslate="iResearchApp.configAcl.funcName">Func Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="aclList"><span jhiTranslate="iResearchApp.configAcl.aclList">Acl List</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let configAcl of configAcls ;trackBy: trackId">
                <td><a [routerLink]="['../config-acl', configAcl.id ]">{{configAcl.id}}</a></td>
                <td>{{configAcl.modName}}</td>
                <td>{{configAcl.funcName}}</td>
                <td>{{configAcl.aclList}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../config-acl', configAcl.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config-acl/'+ configAcl.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config-acl/'+ configAcl.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="configAcls && configAcls.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
