<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOnsiteProcessLabel" jhiTranslate="iResearchApp.onsiteProcess.home.createOrEditLabel">Create or edit a Onsite Process</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!onsiteProcess.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="onsiteProcess.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iResearchApp.onsiteProcess.confirm" for="field_confirm">Confirm</label>
            <input type="text" class="form-control" name="confirm" id="field_confirm"
                [(ngModel)]="onsiteProcess.confirm" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iResearchApp.onsiteProcess.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                [(ngModel)]="onsiteProcess.remarks" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iResearchApp.onsiteProcess.onsite" for="field_onsite">Onsite</label>
            <select class="form-control" id="field_onsite" name="onsite" [(ngModel)]="onsiteProcess.onsiteId">
                <option [ngValue]="null"></option>
                <option [ngValue]="onsiteOption.id" *ngFor="let onsiteOption of onsites; trackBy: trackOnsiteById">{{onsiteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
